@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #5FC19D;
  --dark-bg: #333333;
  --darker-bg: #222222;
  --darkest-bg: #111111;
  --black: #1e1e1e;
  --white: #eeeeee;
  --gray: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAV */

nav {
  background-color: var(--darker-bg);
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 2;
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav .container ul li i {
  margin: 0 20px;
}

nav .container .links {
  display: flex;
  flex-direction: row;
}

nav .container .links a {
  margin: 0 20px;
  font-size: 0.8rem;
}

nav .container .links li a span {
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 20px;
}

nav .container ul {
  display: flex;
  align-items: center;
}

nav div ul li i {
  font-size: 1.5rem;
  color: var(--white);
}

nav .container .burger-menu i {
  font-size: 1.5rem;
  margin: 0 20px;
  cursor: pointer;
}

nav .burger-links {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav .burger-links li {
  font-size: 3rem;
  margin: 10px;
  letter-spacing: 2px;
}

/* HEADER + CONTACT */

#header {
  background-color: var(--dark-bg);
  height: 90vh;
}

#contact {
  background-color: var(--darker-bg);
  height: 60vh;
}

#header .container,
#contact .container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .container h5,
#contact .container h5 {
  color: var(--primary);
  font-weight: 400;
}

#header .container h1,
#contact .container h1 {
  font-size: 4rem;
}

#header .container h3,
#contact .container h3 {
  color: var(--gray);
  font-weight: 300;
  margin: 2vh 5vh 0 5vh;
}

#header .container button,
#contact .container button {
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  padding: 16px 64px;
  margin-top: 2vh;
  color: var(--black);
  font-weight: 600;
}

/* ABOUT */

#about {
  background-color: var(--darker-bg);
}

#about h1 {
  padding-top: 10vh;
  text-align: center;
}

#about .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding-bottom: 10vh;
}

#about img {
  height: 36vh;
  display: block;
  box-shadow: -5px 5px 0 0px var(--darkest-bg), -5px 5px 0 1px white;
}

#about .about-text {
  max-width: 32vw;
  margin-right: 5vw;
}

#about .about-text p {
  font-weight: 300;
  margin-top: 2vh;
}

#about .skills button {
  margin-top: 2vh;
  background-color: var(--primary);
  border: none;
  padding: 5px 10px;
  color: var(--black);
  font-weight: 500;
}

/* WORK */

#work {
  background-color: var(--darkest-bg);
}

#work h1 {
  padding-top: 10vh;
  text-align: center;
}

#work .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work .project {
  width: 250px;
  height: 275px;
  padding: 2%;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 20px 10vh 20px;
}

#work .project h2 {
  font-size: 1.2rem;
  margin: 2vh 0;
}

#work .project .icon-container {
  /* background-color: var(--primary); */
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#work .project .icon-container i {
  color: var(--primary);
  font-size: 2rem;
}

#work .project p {
  font-weight: 300;
  margin-top: 2vh;
}

/* FOOTER */

footer {
  background-color: var(--dark-bg);
  height: 14vh;
}

footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container i {
  font-size: 1.2rem;
  margin: 0 1vh;
}

footer .container p {
  margin-top: 2vh;
  font-size: 0.8rem;
  font-weight: 300;
}

/* EMDIA QUERIES */

@media (min-width: 901px) {
  nav .active {
    color: var(--primary);
    transition: 0.3s;
  }

  .content1::after {
    content: '\a';
    white-space: pre;
  }

  #work .project:hover {
    margin-top: 5px;
    transition: 0.3s;
  }

  #work .project {
    transition: 0.3s;
  }

  nav .container .burger-menu {
    display: none;
  }
}

@media (max-width: 900px) {
  nav .container .links {
    display: none;
  }

  #header .container h1,
  #contact .container h1 {
    font-size: 3rem;
  }

  #header .container h3,
  #contact .container h3 {
    line-height: 28px;
  }

  #header .container button,
  #contact .container button {
    margin-top: 4vh;
  }

  #about .container {
    flex-direction: column;
  }

  #about .about-text {
    max-width: 100%;
    margin: 0 5vw;
  }

  #about img {
    margin-top: 5vh;
    height: 50vh;
  }

  #work .container {
    flex-direction: column;
  }

  #work .project {
    width: 60vw;
    height: 100%;
    padding: 5%;
    margin: 20px;
  }

  #work .project:last-of-type {
    margin-bottom: 10vh;
  }

  #work .project .icon-container i {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  nav .burger-links li {
    font-size: 2rem;
  }

  #header {
    height: 70vh;
    padding-top: 10vh;
  }

  #contact {
    height: 70vh;
  }

  #header .container h1,
  #contact .container h1 {
    font-size: 2rem;
  }

  #header .container h3,
  #contact .container h3 {
    font-size: 1rem;
  }

  #header .container button,
  #contact .container button {
    margin-top: 4vh;
  }

  #about .about-text {
    max-width: 100%;
    margin: 0 10vw;
  }

  #work .project {
    width: 75vw;
    margin: 14px;
    padding: 5%;
  }

  #work .project:last-of-type {
    margin-bottom: 10vh;
  }

  #work .project .icon-container i {
    font-size: 3rem;
  }
}
